* {
    box-sizing: border-box;
    background:lightslategray;
  }

body {
    /* viewport units: vh (viewport/page height), vw, vmin (smallest between vh & vw) */
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
  }

header {
    font-size: 10vmin;
    color: black;
}

#board {
  display: grid;
  grid-template-columns: repeat(3, 10vmin);
  grid-template-rows: repeat(3, 10vmin);
}

#board > div {
    position: relative;
    text-align: center;  
    text-justify: center;
}
button {
    margin-top: 30px;
    background-color: lightgray;
    border-radius: 12px;
    border: slategray;
    font-size: 20px;
    box-shadow: 5px 5px grey;
}
button:hover{
  transform: scale(1.1);
  transition: all 0.2s ease-in-out;
  background-color: rgb(62, 109, 157);
  color: white;
}

#board > div:hover {
  transform: scale(1.1);
  transition: all 0.2s ease-in;
  border: 0.25vmin solid slategray;
  box-shadow: 5px 10px slategray
}

div.top {
  border-top: 0;
  border-bottom: 0.5vmin solid black;
}
div.bottom {
  border-bottom: 0;
  border-top: 0.5vmin solid black;
}
div.right {
  border-right: 0;
  border-left: 0.5vmin solid black;
}
div.left {
  border-left: 0;
  border-right: 0.5vmin solid black;
}

